[Unit]
Description=zookeeper
Documentation=http://zookeeper
apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart={{ kafka_dir }}/bin/zookeeper
server-start.sh {{ kafka_dir }}/config/zookeeper
properties
ExecStop={{ kafka_dir }}/bin/zookeeper
server-stop.sh
Restart=always

[Install]
WantedBy=multi-user.target
